<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		title hoja de vida Stiven Gordillo
	body
		header
			svg(width="200" height="200" viewBox="0 0 0 0")
				polygon(points="100,0 50,10 75,30 50,50 " fill="oreange" stroke="black" stroke-width="1") /
			h1 Curriculum vitae
			h2 Stiven Gordillo Ruiz
			h3 12 de julio de 1984 | Bogotá - Colombia
		nav
			ul
				li
					a(href="index.html") Inicio
				li
					a(href="educacion.html") Educación
				li
					a(href="experiencia.html") Experiencia
		section
			h2 Información personal
			img(src="img/yo.png", alt="Stiven Gordillo Ruiz")
		section 
			article
				p 
					|Soy Publicista Colombiano, especialista en Marketing y Modelos de Negocios On Line, cuento con un diplomado de Marketing Online y un año de intercambio en la facultad de comunicaciones y diseño gráfico en la Benemerita Universidad Autonoma de México.
				p
					strong Idiomas
					ul
						li Español
						li Ingles
						li Frances
		footer
			p
				|Contacto: +571 3124228948 - stiven@stivengordillo.com -Kra 20 # 63 a 00		